@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: linear-gradient(to bottom right, rgb(15, 15, 104), rgb(31, 207, 207)) no-repeat;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

/*---------------*\
  #SEARCH SECTION 
\*---------------*/

.search-container{
    margin: auto;
    width: 10%;
    height: 15%;
    margin-top: 50px;
}
.city-input{
    text-align: center;
    padding: 15px;
    font-weight: 550;
    border: none;
    border-radius: 25px;
    width: 100px;
}
.search-weather{
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 25px;
    width: 50px;
    background-color: rgb(51, 51, 215);
}
.fa-solid.fa-magnifying-glass{
    color: white;
}