@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: linear-gradient(to bottom right, rgb(15, 15, 104), rgb(31, 207, 207)) no-repeat;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

/*---------------*\
  #SEARCH SECTION 
\*---------------*/

.search-container{
    margin: auto;
    width: 13%;
    height: 15%;
    margin-top: 50px;
}
.city-input{
    text-align: center;
    padding: 15px;
    font-weight: 550;
    border: none;
    border-radius: 25px;
    width: 100px;
}
.search-weather, .restart-search{
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 25px;
    width: 50px;
    background-color: rgb(51, 51, 215);
    color: white;
    
    transition: 0.5s;
}
.search-weather:hover, .restart-search:hover{
    background-color: rgb(49, 49, 182);
}
/*----------------*\
  #WEATHER SECTION 
\*----------------*/

.weather-container{
    border: 3px solid rgb(67, 139, 255);
    color: white;
    padding: 10px;
    background: linear-gradient(to bottom left, #20a1e6, #2a59e6 );
    border-radius: 25px;
    width: 20%;
    height: 40%;
    margin: auto;
    text-align: center;

    animation: come-right 0.5s;
}
.weather-container h2{
    font-size: 2rem;
}
.weather-container .city-temp{
    font-size: 2rem;
    font-weight: 600;
}
.max-min-temp-container{
    padding: 0;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    position: relative;
    bottom: 35px;
}

/*------------*\
  #ANIMATIONS
\*------------*/

/*-------------*\
  #RESPONSIVENES
\*-------------*/

